@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
@import "@fontsource/poppins";        
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";

body {
  background-color: black;
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: white;
  font-size: 3.2em;
  line-height: 1.1;
}


html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 80px; /* navbar height ke hisaab se adjust kar */
}
#root{
width: fit-content;}